<style>
	.container {width: 100%;margin: auto;}
	@media (min-width:600px){.container {width:80%;}}
	@media (min-width:768px){.container {width:60%;}}
	@media (min-width:1024px){.container {width:65%;}}
</style>

<div class = "container">
<h2>My First Gen AI Chat!:</h2>
<img src="https://dr.ntu.edu.sg/cris/rp/fileservice/rp00631/57/?filename=ttteoh_1_2.JPG"
	width = "320" height "240">
<form action="/main" method="post">
    <p>What is your name?: </p>
    <p><input type="text" name="name"></p>
    <p><input type="submit" value="Enter"></p>
</form>
</div>